<div class="container">
  <div class="form-wrapper" style="width: 500px; margin: 0 auto;">
    <h3>Booking Form</h3>
  <%= simple_form_for [@meal, @booking], url: meal_bookings_path do |f| %>
      <%= t.input :start %>
      <%= t.input :end %>
      <%= t.input :servings %>
      <%= t.submit "Order", class: "btn btn-outline-dark" %>
    <% end %>
    <%= link_to "Back to meals", meals_path, class: "btn btn-outline-dark" %>
  </div>
</div>
